# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# -------------------------------
# Virtual environments
# -------------------------------
venv/
.env/
.venv/
env/

# -------------------------------
# Jupyter / notebooks
# -------------------------------
.ipynb_checkpoints/
*.ipynb

# -------------------------------
# Logs & outputs (IMPORTANT)
# -------------------------------
outputs/*.mp4
outputs/*.avi
outputs/*.jsonl
outputs/*.log

# -------------------------------
# Model weights (large files)
# -------------------------------
*.pt
*.pth
*.ckpt
*.onnx

# -------------------------------
# Temporary files
# -------------------------------
*.tmp
*.cache
*.swp
*.DS_Store

# -------------------------------
# IDE files
# -------------------------------
.vscode/
.idea/

# -------------------------------
# OS files
# -------------------------------
Thumbs.db

# -------------------------------
# Video and Image files
# -------------------------------
*.mp4
*.jpg
*.jpeg
*.jsonl
*.json
U-2-Net/